@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "sass:math";

.btn {
  background-color: red;
  padding: 8px 15px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
